<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sunglasses</key>
	<dict>
		<key>icon</key>
		<string>block_gafes</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>gafes3D</string>
				<key>image</key>
				<string>gafes_3D.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>gafesCorazon</string>
				<key>image</key>
				<string>gafes_corazon.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>gafesPlatejades</string>
				<key>image</key>
				<string>gafes_platejades.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>gafesRayban</string>
				<key>image</key>
				<string>gafes_rayban.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>gafesEstrella</string>
				<key>image</key>
				<string>gafes_estrella.png</string>
			</dict>
		</array>
	</dict>
	<key>Hats</key>
	<dict>
		<key>icon</key>
		<string>block_sombreros</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>Viking</string>
				<key>image</key>
				<string>vikingo.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>The Capitain</string>
				<key>image</key>
				<string>capitan.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>Sailor</string>
				<key>image</key>
				<string>marinero.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>PapaNoel</string>
				<key>image</key>
				<string>papanoel.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>Graduado</string>
				<key>image</key>
				<string>graduado.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>Stars</string>
				<key>image</key>
				<string>antenesEstrella.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>RenoRojo</string>
				<key>image</key>
				<string>renoRojo.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>RenoMarron</string>
				<key>image</key>
				<string>renoMarron.png</string>
			</dict>
		</array>
	</dict>
	<key>Mouths</key>
	<dict>
		<key>icon</key>
		<string>block_boques</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>name</key>
				<string>Boca1</string>
				<key>image</key>
				<string>boca1.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>name</key>
				<string>Boca2</string>
				<key>image</key>
				<string>boca2.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>name</key>
				<string>Boca3</string>
				<key>image</key>
				<string>boca3.png</string>
			</dict>
            <dict>
				<key>type</key>
				<integer>3</integer>
				<key>name</key>
				<string>Boca4</string>
				<key>image</key>
				<string>boca4a.png</string>
			</dict>
		</array>
	</dict>
	<key>Frames</key>
	<dict>
		<key>icon</key>
		<string>block_marcs</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>Marc1</string>
				<key>image</key>
				<string>marc_raig.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>MarcRoigRatlles</string>
				<key>image</key>
				<string>marc_roigRatlles.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>MarcTigre</string>
				<key>image</key>
				<string>marc_tigre.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>MarcOnes</string>
				<key>image</key>
				<string>marc_onesBlau.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>MarcLlum</string>
				<key>image</key>
				<string>marc_llum</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>Marc_Dorat</string>
				<key>image</key>
				<string>marc_dorat.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>MarcLleopard</string>
				<key>image</key>
				<string>marc_lleopard.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>MarcEstrelles</string>
				<key>image</key>
				<string>marc_estrelles.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
