<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sunglasses</key>
	<dict>
		<key>icon</key>
		<string>glasses_sunglasses.png</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>Sunglass 1</string>
				<key>image</key>
				<string>sunglasses1.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>Sunglass 2</string>
				<key>image</key>
				<string>sunglasses2.png</string>
			</dict>
		</array>
	</dict>
	<key>Hats</key>
	<dict>
		<key>icon</key>
		<string>hat.png</string>
		<key>items</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>Viking</string>
				<key>image</key>
				<string>vikingo.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>The Capitain</string>
				<key>image</key>
				<string>capitan.png</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>Sailor</string>
				<key>image</key>
				<string>marinero.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
